AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=''
AIRFLOW__CORE__LOAD_EXAMPLES=False
MAILGUN_API_KEY=your_mailgun_api_key_here
